{% block header %}
    <div class="jumbotron d-flex justify-content-center align-center">
        <div class="container d-flex flex-column justify-content-center align-items-center">
            <div class="row">
                <div class="col-sm-offset-6 col-sm-12">
                    <h1 class="lead p-4 mb-2" data-aos="zoom-out-down" data-aos-delay="300">Salut, Moi c'est Tennessee !</h1>
                </div>
            </div>
            <div class="row">
                 <div class="col-sm-offset-6 col-sm-12">
                    <h2 class="lead p-4 mt-2" data-aos="zoom-out-up" data-aos-delay="600">Je suis dev Php/Symfony</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
