{% block navbar %}
    <nav class="navbar navbar-expand-lg" id="nav">
        <div class="container-fluid">
            <p class="navbar-brand Nom">Houry Tennessee</p>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-5 me-auto mb-2 mb-lg-0">
                    <li class="nav-item me-2">
                        <a class="nav-link navlink" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link navlink" href="#profil">Profil</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link navlink" href="#competence">Mes compétences</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link navlink" href="#projet">Mes projets</a>
                    </li>
                </ul>
                <span class="navbar-text p-2">
                    <a class="btn btn-outline-primary" href="{{ path('download_cv') }}">
                        <i class="fas fa-cloud-download-alt mx-2"></i>Télécharger mon CV</a>
                </span>
            </div>
        </div>
    </nav>
{% endblock %}
