{% block projets %}
    <section class="projets">
        <div class="row">
            <div class="col-12 center-col margin-40px-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center">
                <h2 class="title">Mes projets</h2>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-around">

            </div>
        </div>
    </section>
{% endblock %}
